/* #page {
    margin-bottom: 400px;
} */

body {
    margin-bottom: 200px;
    background: rgb(42, 39, 39);
    background: linear-gradient(188deg, rgba(42, 39, 39, 1) 28%, rgba(32, 32, 87, 1) 65%, rgba(86, 155, 170, 1) 100%);
}

/* Main Page  */

/* Header-top styles */
.activepage {
    border-bottom: 2px solid white;
    padding: 4px;
}

.header-top {
    background-color: #1f232b;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}


.header-left {
    display: flex;
    align-items: center;
    gap: 15px;

}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-icon {
    font-size: 14px;
    color: #acacac;
    margin-right: 15px;
}

.right-icon {
    font-size: 24px;
    color: #acacac;

}

.top-header-title {
    color: #acacac;
    font-size: 16px;
    text-transform: uppercase;
}

/* bottom-header */
/* .header-content {
    display: flex;
    gap: 30px;
    background-color: rgba(52, 74, 113, 1);
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
} */

.navigation {

    display: flex;
    /* flex-wrap: wrap; */
    gap: 40px;
    align-items: center;
    background-color: rgba(52, 74, 113, 0.85);
    width: 100%;
    height: 70px;
    padding-left: 40px;
    z-index: 900;
}

.logo {
    width: 75px;
    height: 53px;
}

.nav-ul {
    display: flex;
    gap: 80px;
    font-size: 20px;
    text-transform: uppercase;
}



.nav-link {
    color: white;

}


.nav-link:hover {
    transition: 0.5s;
    color: black;
}

/* footer styles */
/* bootom-footer styles */


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;


}

.bottom-footer {
    background-color: #2a2f3c;
    color: #acacac;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}

.top-footer {
    display: flex;
    justify-content: space-between;
    background-color: #1f232b;
    align-items: center;
    padding: 10px;
}

.footer-logo {
    max-width: 145px;
    width: 100%;
    height: 100px;
}

.social-title {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.ftr-icon {
    font-size: 20px;
    color: white;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}

.contact-icons {
    display: flex;
    gap: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-word {
    color: #acacac;
    font-size: 14px;


}

.icons {
    color: white;
    font-size: 12px;
}

.cont

/* creating slidder styles */
.slide {
    width: 100%;
}

.image-slider {
    background-image: url();
    width: 100%;
    height: 550px;
    object-fit: cover;
    z-index: 1;




}

.slader-wrapper {
    position: relative;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
    cursor: pointer;

}

.arrow:hover {
    color: rgba(52, 74, 113, 0.85);
    transition: 0.5s;
}

.arrow-left {
    left: 30px;
}

.arrow-right {
    right: 30px;
}

.slider-title {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    font-size: 45px;
    border-radius: 12px;
    text-transform: uppercase;
    font-family: 'Dancing Script';

}


.dot {
    width: 30px;
    height: 7px;
    background-color: rgb(91, 81, 81);
    cursor: pointer;
    margin: 5px;
}

.dot:hover {
    background-color: white;
    transition: 0.5s;
}

.dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.dot.active {
    background-color: white;
}

/* first section-general info about hotel */
.general {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.general-title {
    text-align: center;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Dancing Script';
}

.hotel {
    max-width: 500px;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgb(55, 55, 96);
}

.general-description {
    color: #acacac;
    font-size: 18px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 10px;

}

/* second section */
.living-room {
    max-width: 500px;
    width: 100%;
    box-shadow: 4px 4px 4px 4px rgb(55, 55, 96);
}


.offer {
    display: flex;
    justify-content: space-between;
    padding: 40px;

}

.offer-title {
    font-family: 'Dancing Script';
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    padding: 5px;
}

.offer-ul {
    color: #acacac;
    font-size: 16px;
}

li {
    margin-bottom: 10px;
}


/* Second  page-rooms styles  */
/* .room-page {
    background-color: rgb(30, 2, 8);
} */

.banner {
    width: 100%;
    object-fit: cover;
    max-height: 350px;
    height: 100%;

}

.overlay-banner {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    opacity: 60%;

    height: 100%;

}

.banner-div {
    position: relative;
}

.find-room {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    background-color: rgb(42, 4, 13);
    align-items: center;

}

.check {
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.calendar {

    max-width: 300px;
    width: 100%;

}

.date {
    max-width: 250px;
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 20px;
    color: #2a2f3c;
    cursor: pointer;
}

.find-btn {
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(219, 169, 32);
    color: white;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    cursor: pointer;
}

.find-btn:hover {
    background-color: rgb(224, 132, 11);
    transition: 0.3s;
}

.check-title {
    color: white;
    font-size: 20px;
    margin-bottom: 7px;

}

/* second section-  rooms styles*/
.rooms {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
    padding-top: 40px;
}

.room1 {
    position: relative;
    margin-bottom: 80px;
}


.bedroom {
    /* max-width: 500px; */
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 3px 3px rgb(79, 70, 100);
}

.bedroom:hover {
    opacity: 50%;
    transition: 0.5s;
}

.room-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(52, 74, 113, 0.8);
    padding: 50px;
}

.room-title {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.room-title:hover {
    color: rgb(231, 177, 17);
    transition: 0.3s;
}

.room-price {
    color: rgb(255, 238, 0);
    font-size: 18px;
    margin-bottom: 40px;
}

.room-p {
    color: white;
    font-size: 17px;
    margin-bottom: 30px;
}

.view-btn {
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(219, 169, 32);
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    cursor: pointer;
}

.view-btn:hover {
    background-color: rgb(224, 132, 11);
    transition: 0.3s;
}


.room-overlay.second {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(52, 74, 113, 0.8);
    padding: 50px;

}

/* room details page styles */
#page-roomdetails {
    background: white;
    margin-bottom: 250px;
}

.register {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
    max-width: 500px;
    max-height: 600px;
    height: 100%;
    width: 100%;
}

.register.active {
    display: block;

}

.head {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.close-btn {

    color: black;
    font-size: 18px;
    cursor: pointer;
}

.close-btn:hover {
    transition: 0.5s;
    font-size: 20px;
}

.details-section {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%;
    padding-top: 40px;
}

.bedroom-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bedroom-img {
    max-width: 230px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    box-shadow: 2px 2px 2px 2px rgb(97, 86, 118);
}

.bedroom-img:hover {
    opacity: 70%;
    transition: 0.3s;
}

.book {
    background-color: #acacac;
    max-width: 200px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 200px;
    height: 100%;



}

.book-title {
    font-size: 20px;
    margin-bottom: 20px;

}

.book-price {
    font-size: 22px;
    color: rgb(82, 5, 36);
    font-weight: bolder;
    margin-bottom: 30px;

}

.book-btn {
    width: 110px;
    height: 30px;
    border: none;
    background-color: rgb(219, 169, 32);
    color: white;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    cursor: pointer;
}

.book-btn:hover {
    background-color: rgb(217, 128, 11);
    transition: 0.3s;
}

.info-title {
    font-size: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(46, 3, 7);
    text-align: center;
    margin-bottom: 30px;
    color: rgb(45, 3, 3);
    font-weight: bold;


}

.discription {
    color: rgb(25, 4, 57);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.book-info {
    max-width: 500px;
    width: 100%;
    background-color: #acacac;

    padding: 20px;

}

.booking-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;

}

/* form styles */

#registration {
    /* max-width: 550px; */
    width: 100%;
    background-color: #acacac;
    padding: 20px;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 2px 2px 2px 2px black;
}

.heading {
    text-align: center;
    font-size: 25px;
    color: rgb(82, 5, 36);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 25px;
    border-bottom: 3px solid rgb(82, 5, 36);
    margin-top: 20px;
}


/* .heading2 {
    color: rgb(12, 56, 71);
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 17px;
    margin-bottom: 15px;
    font-weight: bold;
} */

.lastname {
    border-radius: 12px;
    border: none;
    height: 20px;
    outline: none;
}

.firstname {
    border-radius: 12px;
    border: none;
    height: 20px;
    outline: none;
}


.address {
    border-radius: 12px;
    border: none;
    height: 20px;
    outline: none;
}

.Password {
    border-radius: 12px;
    border: none;
    height: 20px;
    outline: none;
}

.Password2 {
    border-radius: 12px;
    border: none;
    height: 20px;
    outline: none;
}


.form-blocks {

    margin-bottom: 20px;
}

.btn {
    background-color: rgb(82, 5, 36);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin-bottom: 2px;
}

.btn:hover {
    color: rgb(12, 69, 73);
    background-color: white;
    transition: 0.5s;
}

.form-title {
    color: rgb(82, 5, 36);
    font-size: 16px;
    font-weight: bold;

}

.error-text {
    color: red;
    font-weight: bold;
    font-size: inherit;
    display: block;

}

.fa-regular {
    cursor: pointer;
}

/* third page-eat/drink page */
#eatpage {
    margin-bottom: 220px;
    background: rgb(193, 214, 211);
    background: linear-gradient(188deg, rgba(193, 214, 211, 1) 28%, rgba(193, 198, 208, 1) 65%, rgba(244, 250, 230, 1) 100%);
}

.eat-section {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-top: 40px;
}

.eat-drink {
    display: flex;
    justify-content: space-between;

}

.block1 {
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
}

.eat-img {
    max-width: 350px;
    width: 100%;
    max-height: 400px;
    width: 100%;
    object-fit: cover;
    box-shadow: 4px 4px 4px 4px rgb(81, 68, 103);
}

.eat-img:hover {
    opacity: 60%;
    transition: 0.5s;
}

.eat-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(42, 4, 13);
    font-family: 'Dancing Script';


}

.eat-p {
    font-size: 16px;
    margin-bottom: 20px;
}

.eat-sub-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgba(52, 74, 113, 0.8);

}

/* 4th page-spa page styles */

#spapage {
    margin-bottom: 250px;
}

#spasection {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 100px;
}

.spa-block {
    margin-bottom: 80px;
}

.img-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* max-height: 450px;
    height: 100%; */


}

.spa-img {
    max-width: 500px;
    width: 100%;

    box-shadow: 3px 3px 3px 3px rgb(122, 116, 116);
    z-index: 1;
    object-fit: cover;
}

.spa-img:hover {
    opacity: 60%;
    transition: 0.5s;
}

.spa-overlay {
    z-index: 100;
    max-width: 500px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    background-color: #00000088;
    right: 30%;
    bottom: 5%;
    position: absolute;
    padding: 40px;



}

.spa-title {
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: #acacac;
    text-align: center;
    border-bottom: 3px solid white;
    padding: 7px;
    font-family: 'Dancing Script';

}

.spa-p {
    color: #acacac;
    font-size: 18px;
    margin-top: 30px;
}

.spa-time {
    color: #acacac;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

.spa-block2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.spa-overlay2 {
    z-index: 100;
    max-width: 500px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    background-color: #00000088;
    left: 0;
    position: absolute;
    padding: 40px;

}

.spa-overlay2:hover {
    opacity: 60%;
    transition: 0.5s;
}



/* service page styles */
#servicepage {
    margin-bottom: 200px;
    background: rgb(193, 214, 211);
    background: linear-gradient(188deg, rgba(193, 214, 211, 1) 28%, rgba(193, 198, 208, 1) 65%, rgba(244, 250, 230, 1) 100%);
}

#service-section {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 40px;
}

.post-block {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.post-div {
    background-color: rgba(52, 74, 113, 1);
    opacity: 90%;
    max-width: 350px;
    height: 200px;
    width: 100%;
    /* padding: 10px; */
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px rgb(72, 69, 69);

}

.post-div:hover {
    background-color: rgb(29, 50, 87);
    transition: 0.3s;
}

.p-email {
    font-size: 16px;
    margin-bottom: 15px;
    color: rgb(251, 198, 50);
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
}

.description {
    font-size: 16px;
    text-align: center;
    color: #acacac;
}

.user-btn {
    max-width: 120px;
    width: 100%;
    height: 40px;
    background-color: rgb(251, 198, 50);
    color: rgba(52, 74, 113, 1);
    font-weight: bolder;
    font-size: 12px;
    align-items: center;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 50px;
    font-family: 'Dancing Script';
}


.user-btn:hover {
    transition: 0.5s;
    background-color: rgba(52, 74, 113, 1);
    color: rgb(251, 198, 50);

}

.main-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 80px;
    border-bottom: 3px solid black;
    padding: 5px;
    border-style: dashed;
    text-transform: uppercase;
    max-width: 600px;
    width: 100%;
    font-family: 'Courgette';

}